/* Target Elements */
body {
  background-color: #ecf0f5;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif, 
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

p {
  color: #6d6d6d;
  margin: 5px;
}

label {
  color: #151616;
  display: block;
  padding: 10px 0px 10px 0px;
  font-size: 14px;
}

input {
  width: 360px;
  height: 28px;
  background-color: #FBFBFB;
  border-radius: 5px;
  border-color: #CDD4DA;
  border-style: solid;
  border-width: .5px;
  outline-color: #75a0f0;
}

hr {
  width: 360px;
  margin-top: 20px;
  margin-left: 0px;
  border-top: #CDD4DA
  
}


/* Target By Class */

.header {
  margin: 40px auto 20px auto;
  font-size: 18px;
  text-align: center;

}

.header-text {

  color: #2a2a2b;
}

.main-container {
  margin: auto;
  width: 375px;
  padding: 10px;
  background-color: #ffffff;
  display: block;
  border-radius: 2px;
  font-size: 13px;
  border-style: solid;
  border-color: #CDD4DA;
  border-width: .5px;
}

.fa-eye {
  color: #175ddc;
  padding: 10px;
  font-size: 25px;
}

.footer-container{
  margin: auto;
  margin-top: 45px;
  margin-bottom: 40px;
  width: 15%;
  text-align: center;
  font-size: 16px;
}

.btn {
  width: 49%;
  height: 33px;
  border-radius: 5px;
  font-size: 14px;
  border-style: solid;
  margin-top: 10px;
  
}


/* Target By Ids */
#pass-input, #re-type-input {
  width: 315px;
}

#pass-str {
  width: 322px;
  height: 30px;
  display: block;
  
}

#submit-btn {
  background-color: #175ddc;
  color: #f4f7fd;
  border-style: none;
}

#submit-btn:hover {
  background-color: #2E2ABA;
}

#cancel-btn {
  background-color: #fbfbfb;
  color: #3e3f41;
  border-color: #CDD4DA;
  border-width: .5px;
}

#cancel-btn:hover {
  background-color: #CDD4DA;

}



